@media (min-device-width: 768px) and (max-device-width: 2000px) {
*{
  padding: 0px;
  margin: 0px;
}
.corpo{
  width: 100vw;
  height: 100vh;
  background-color: #848484;
}
.menu{
  width: 15%;
  height: 100vh;
  background-color: #6E6E6E;
  text-align: center;
  color: white;
  float: left;
}
.menu button{
  width: 95%;
  height: 8%;
  margin-bottom: 10px;
  background-color: inherit;
  border: 2px solid #F7FE2E;
  border-radius: 10px;
  color: white;
}
.menu button:hover{
  cursor: pointer;
  background-color: #F3F781;
  color: black;
}
.direito{
  width: 85%;
  height: 100%;
  float: right;
  color: white;
  text-align: center;
  padding: 10px;
}
.grid{
  display: grid;
  grid-template-columns: 20% 59% 19%;
  grid-template-rows: auto;
  grid-gap: 10px;
}
.conteudo2{
  height: auto;
  border-radius: 10px;
  background-color: #2E2E2E;
  text-align: left;
  padding-left: 5px;
  padding: 10px;
  text-align: center;
}
.meio{
  text-align: center;
}
p button{
  padding: 3px;
  border-radius: 5px;
}
p button:hover{
  cursor: pointer;
}
}
@media (min-device-width: 0px) and (max-device-width: 767px) {
  *{
    padding: 0px;
    margin: 0px;
    font-size: 35px;
  }
  .corpo{
    width: 100vw;
    height: 100vh;
    background-color: #848484;
  }
  .menu{
    width: 100%;
    height: auto;
    background-color: #6E6E6E;
    text-align: center;
    color: white;
    float: left;
    padding: 10px;
  }
  .menu button{
    width: 30%;
    height: 8%;
    margin-bottom: 10px;
    background-color: inherit;
    border: 2px solid #F7FE2E;
    border-radius: 10px;
    color: white;
    float: right;
  }
  .menu button:hover{
    cursor: pointer;
    background-color: #F3F781;
    color: black;
  }
  .menu hr{
    display: none;
  }
  .menu h3{
    display: none;
  }
  .direito{
    width: 100%;
    height: 100%;
    float: right;
    color: white;
    text-align: center;
    padding: 10px;
  }
  .grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
  .conteudo2{
    height: auto;
    border-radius: 10px;
    background-color: #2E2E2E;
    text-align: left;
    padding-left: 5px;
    padding: 10px;
    text-align: center;
  }
  .meio{
    text-align: center;
  }
  p button{
    padding: 3px;
    border-radius: 5px;
  }
  p button:hover{
    cursor: pointer;
  }
}
