*{
  padding: 0px;
  margin: 0px;
}
.corpo{
  width: 100vw;
  height: 100vh;
  background-color: #848484;
}
.menu{
  width: 15%;
  height: 100vh;
  background-color: #6E6E6E;
  text-align: center;
  color: white;
  float: left;
}
.menu button{
  width: 95%;
  height: 8%;
  margin-bottom: 10px;
  background-color: inherit;
  border: 2px solid #F7FE2E;
  border-radius: 10px;
  color: white;
}
.menu button:hover{
  cursor: pointer;
  background-color: #F3F781;
  color: black;
}
.dadosCorpo{
  float: right;
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction:  row;
  justify-content: center;
  align-items: center;
}
.dados{
  padding: 10px;
  width: 80%;
  height: auto;
  background-color: #2E2E2E;
  border-radius: 10px;
  color: white;
}
.grid{
  display: grid;
  grid-template-columns: 32% 33% 33%;
  grid-template-rows: auto;
  grid-gap: 10px;
  color: white;
}
.conteudo{
  background-color: #6E6E6E;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 10px;
}
