*{
  padding: 0px;
  margin: 0px;
}
.corpo{
  width: 100vw;
  height: 100vh;
  background-color: #848484;
}
.menu{
  width: 15%;
  height: 100vh;
  background-color: #6E6E6E;
  text-align: center;
  color: white;
  float: left;
}
.menu button{
  width: 95%;
  height: 8%;
  margin-bottom: 10px;
  background-color: inherit;
  border: 2px solid #F7FE2E;
  border-radius: 10px;
  color: white;
}
.menu button:hover{
  cursor: pointer;
  background-color: #F3F781;
  color: black;
}
.coletaPrev{
  width: 85%;
  height: 100%;
  float: right;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.titulo{
  width: 100%;
  height: 7%;
  text-align: center;
}
.grid{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 49%;
  grid-template-rows:  auto;
  grid-gap: 10px;
}
.conteudo{
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 10px;
  height: auto;
  background-color: #424242;
}
.conteudo button{
  border-radius: 5px;
  padding: 3px;
  border: 2px solid black;
}
.conteudo button:hover{
  cursor: pointer;
  border: 2px solid white;
}
