*{
  padding: 0px;
  margin: 0px;
}
.corpo{
  width: 100vw;
  height: 100vh;
  background-color: #848484;
}
.menu{
  width: 15%;
  height: 100vh;
  background-color: #6E6E6E;
  text-align: center;
  color: white;
  float: left;
}
.menu button{
  width: 95%;
  height: 8%;
  margin-bottom: 10px;
  background-color: inherit;
  border: 2px solid #F7FE2E;
  border-radius: 10px;
  color: white;
}
.menu button:hover{
  cursor: pointer;
  background-color: #F3F781;
  color: black;
}
.cadastroCorpo{
  width: 85%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.formNovaColeta{
  width: 70%;
  height: auto;
  background-color: #2E2E2E;
  border-radius: 10px;
  text-align: center;
}
.formNovaColeta{
  padding: 10px;
  color: white;
}
.grid{
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 49% 50%;
  grid-template-rows: auto;
  grid-gap: 10px;
}
.hora{
  padding: 3px;
  border-radius: 5px;
}
#ajustaPDF{
  padding: 3px;
}
.cad{
  padding: 5px;
  border-radius: 4px;
  background-color: inherit;
  color: white;
  border: 2px solid #F7FE2E;
}
.cad:hover{
  background-color: #F3F781;
  color: black;
  cursor: pointer;
}
