*{
    margin: 0px;
    padding: 0px;
}
.menu2{
    background-color: #f9f7f7;
    padding: 5px;
}

.menu2 img, p{
   display: inline-block;
}

button{
    padding: 5px;
}

button:hover{
    cursor: pointer;
}

button:disabled:hover{
    cursor: default;
}

.botao{
    width: 100%;
    height: auto;
    text-align: right;
    margin-top: 3px;
}
.grid{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    padding: 10px;
    align-items: center;
    background-color: #dbe2ef;
}
.conteudo{
    text-align: center;
    background-color: #3f72af;
    padding: 5px;
    width: 90%;
    margin-left: 5%;
    margin-left: 5%;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.progress{
    width: 90%;
    height: auto;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
}
.progress-bar-animated{
    background-color: #112d4e;
    color: white;
}
