*{
  padding: 0px;
  margin: 0px;
}
.corpo{
  width: 100vw;
  height: 100vh;
  background-color: #848484;
}
.menu{
  width: 15%;
  height: 100vh;
  background-color: #6E6E6E;
  text-align: center;
  color: white;
  float: left;
}
.menu button{
  width: 95%;
  height: 8%;
  margin-bottom: 10px;
  background-color: inherit;
  border: 2px solid #F7FE2E;
  border-radius: 10px;
  color: white;
}
.menu button:hover{
  cursor: pointer;
  background-color: #F3F781;
  color: black;
}
.direito{
  width: 85%;
  height: 100%;
  float: right;
  color: white;
  text-align: center;
}
.grid{
  display: grid;
  grid-template-columns: 20% 60% 19%;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
}
.conteudo2{
  background-color: #2E2E2E;
  border-radius: 10PX;
  height: auto;
}
.conteudo2 input{
  padding: 3px;
  background-color: #2E2E2E;
  color: white;
}
