*{
  padding: 0px;
  margin: 0px;
}
.corpo{
  width: 100vw;
  height: 100vh;
  background-color: #848484;
}
.menu{
  width: 15%;
  height: 100vh;
  background-color: #6E6E6E;
  text-align: center;
  color: white;
  float: left;
}
.menu button{
  width: 95%;
  height: 8%;
  margin-bottom: 10px;
  background-color: inherit;
  border: 2px solid #F7FE2E;
  border-radius: 10px;
  color: white;
}
.menu button:hover{
  cursor: pointer;
  background-color: #F3F781;
  color: black;
}
.direito{
  width: 85%;
  height: 100%;
  float: right;
  color: white;
  text-align: center;
}
.grid1{
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 5% 88% 5%;
  grid-template-rows: auto;
  grid-gap: 10px;
}
.cont2{
  border-radius: 5px;
  background-color: #2E2E2E;
  display: grid;
  grid-template-columns: 49% 50%;
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 10px;
}
.conteudo1{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: #1C1C1C;
  padding: 9px;
}
.conteudo2{
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background-color: #1C1C1C;
  padding: 9px;
  overflow: auto;
}
.grid3{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 49% 50%;
  grid-template-rows: auto;
  padding: 5px;
  grid-gap: 5px;
}
